<!DOCTYPE HTML>

<html>
	<head>
		<title>Contact</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Saint的个人网站，采用的 Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。技术专注于 Python 与前端开发，包括 Python、Django、HTML、CSS、JavaScript、Redis、Linux 等。">
		<!--[if lte IE 8]><script src="/static/myapp/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/myapp/css/main.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/myapp/other/icon.ico"/>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/myapp/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/static/myapp/css/ie9.css" /><![endif]-->
	</head>
	<body class="contact">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/home/">SAINT <span>Site</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current">{{ username }}</li>
							<li class="submenu">
								<a href="/contact/">Contact</a>
								<ul>
									<li><a href="/home/">Home</a></li>
									<li><a href="/blog/">Blog</a></li>
									<li class="submenu"><a href="/share/">Share</a></li>
								</ul>
							</li>
							<li><a href="{{ href }}" class="button special">{{ status }}</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-envelope"></span>
						<h2><!--[-->Get In Touch<!--]--></h2>
						<p><!--[-->If you have any questions . Do not hesitate to send me a message by the following form.<!--]--></p>
					</header>

					<!-- One -->
						<section class="wrapper style4 special container 75%">

							<!-- Content -->
								<div class="content">

										<div class="row 50%">
											<div class="6u 12u(mobile)">
												<input type="text" name="name" id="name" placeholder="Name(less than 10 words)" />
											</div>
											<div class="6u 12u(mobile)">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
										</div>
										<div class="row 50%">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Message(less than 300 words <(＾－＾)>)" rows="7"></textarea>
											</div>
										</div>
                                        <div><p id="wrong-tip" style="display:none; background: #F63; font-size: 1em; color: #FFF; text-align: center; height: 40px;line-height: 40px"></p></div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="button" id="contact" class="special" value="Send Message" /></li>
												</ul>
											</div>
										</div>

								</div>

						</section>

				</article>

			<!-- Footer -->
				<footer id="footer">
                    <div class="wechat_box" id="wechat_box" style="display: none; margin: 0 auto">
                        <img src="/static/myapp/img/wechat.jpg" width="80px" alt="二维码">
                    </div>
					<ul class="icons">
						<li><a href="http://wpa.qq.com/msgrd?v=3&uin=1102533916" class="icon circle fa-qq"><span class="label">QQ</span></a></li>
						<li><a id="wechat_click" class="icon circle fa-weixin"><span class="label">Weixin</span></a></li>
						<li><a href="/contact/" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Saint</li><li>Powered By Django</li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="/static/myapp/js/jquery.min.js"></script>
			<script src="/static/myapp/js/jquery.dropotron.min.js"></script>
			<script src="/static/myapp/js/jquery.scrolly.min.js"></script>
			<script src="/static/myapp/js/jquery.scrollgress.min.js"></script>
			<script src="/static/myapp/js/skel.min.js"></script>
			<script src="/static/myapp/js/util.js"></script>
			<!--[if lte IE 8]><script src="/static/myapp/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/myapp/js/main.js"></script>
            <script>
                var btn = document.getElementById("wechat_click")
                var wechat = document.getElementById("wechat_box")
                btn.onclick=(function () {
                    wechat.style.display="block";
                    var time5= setTimeout(function () {
                         wechat.style.display="none";
                    },10000)
                })
            </script>
            <script>
                    $(document).ready(function () {
                        $.ajaxSetup({
                            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
                        });
                        $("#contact").click(function () {
                            var name = $("#name").val();
                            var email = $("#email").val();
                            var message = $("#message").val();
                            var re = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                            strEmail = re.test(email)
                            if (name.replace('\s+', '').length ==0||name.replace('\s+', '').length>10){
                                $("#wrong-tip").html("名字输入不合法！");
                                $("#wrong-tip").css("display", "block");
                                var time2 = setTimeout(function () {
                                    $("#wrong-tip").css("display", "none");
                                }, 1500);
                            }
                            else if(!strEmail) {
                                $("#wrong-tip").html("请输入正确的邮箱地址！");
                                $("#wrong-tip").css("display", "block");
                                var time3 = setTimeout(function () {
                                    $("#wrong-tip").css("display", "none");
                                }, 1500);
                            }

                            else if (message.replace('\s+', '').length ==0 ||message.replace('\s+', '').length >300 ) {
                                $("#wrong-tip").html("信息不能为空！");
                                $("#wrong-tip").css("display", "block");
                                var time4 = setTimeout(function () {
                                    $("#wrong-tip").css("display", "none");
                                }, 1500);
                            }

                            else{
                                $.ajax({
                                type: "post",
                                async: true,
                                url: "/contact/",
                                data: {"name": name, "email": email, "message": message},
                                success: function () {
                                        $("#wrong-tip").html("发送成功，我会及时回复你的！");
                                        $("#wrong-tip").css("display", "block");
                                        var time1 = setTimeout(function () {
                                            $("#wrong-tip").css("display", "none");
                                        }, 1500);
                                        $("#name").val("");
                                        $("#email").val("");
                                        $("#message").val("");
                                    }
                                })
                            }
                        })
                    })
            </script>
	</body>
</html>